.form {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: auto;
  overflow-y: hidden;
}

.status {
  position: absolute;
  color: rgb(99, 13, 13);
}

.number {
  margin: 0.5rem auto;
  font-size: 1.4rem;
  color: rgb(150, 8, 8);
}

.todoDates {
  width: 40%;
}

.datesWrapper {
  margin: 0.5rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.files {
  width: 70%;
  margin: 0.5rem auto;
}

.subtaskForm {
  margin: 0.5rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTaskBtn {
  font-size: 1rem;
  margin: 0.5rem 1rem;
  padding: 0.4rem 0.5rem;
  background-color: rgba(26, 85, 26, 0.63);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit {
  margin: 2rem auto;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
  background-color: rgba(22, 202, 127, 0.733);
  cursor: pointer;
}

@media (max-width: 1150px) {
  .datesWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todoDates {
    width: auto;
  }
}

@media (max-width: 1000px) {
  .number {
    font-size: 1rem;
  }
  .subtaskForm {
    flex-direction: column;
  }
}
