.item {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(33, 136, 33, 0.486);
  cursor: pointer;
}

.done {
  background-color: rgba(85, 87, 85, 0.486);
}

.remove {
  width: 20px;
  cursor: pointer;
}

.remove:hover {
  opacity: 0.4;
}

.item:hover {
  background-color: rgba(7, 92, 5, 0.719);
}

@media (max-width: 700px) {
  .remove {
    width: 15px;
  }
}

@media (max-width: 500px) {
  .item {
    margin: 0.5rem auto;
    padding: 0 0.5rem;
    width: 90%;
  }
  .remove {
    width: 12px;
  }
}
