.button {
  margin: 0.5rem;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 20px;
  color: rgba(2, 2, 2, 0.76);
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

button {
  margin: 0;
}

img {
  width: 40px;
}

@media (max-width: 800px) {
  .button {
    width: auto;
  }
}
