.item {
  margin: 1rem 0.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 70px;
  font-size: 1.2rem;
  background-color: rgba(22, 202, 202, 0.555);
  border-radius: 20px;
  cursor: pointer;
}

.item:hover {
  opacity: 0.7;
  background-color: rgba(202, 139, 22, 0.555);
}

input {
  margin-left: 1rem;
  width: 80%;
  font-size: 1.2rem;
}
