.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(75, 196, 75, 0.466);
  transition-property: background-color;
  transition-duration: 1s;
}
