.navList {
  padding: 1rem auto;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
  border-bottom: solid rgba(24, 167, 67, 0.507) thin;
}

.imageBtn {
  position: absolute;
  top: 12px;
  left: 1rem;
  width: 40px;
}

@media (max-width: 700px) {
  .imageBtn {
    text-align: center;
    width: 100vw;
    left: 0;
    top: 90vh;
  }
}
