.cont {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.397);
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: rgba(22, 202, 127, 0.452);
  backdrop-filter: blur(5px);
}

.close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 30px;
  cursor: pointer;
}
