.header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(170, 117, 17);
}

@media (max-width: 1200px) {
  .header {
    font-size: 3rem;
  }
}
